<li class="comments">
  <div>
    <%= link_to comment.user.fullname, user_path(comment.user.id) %>
    <%= comment.body %>
    <span class="time-text">
      <%= comment.created_at.strftime("posted at %I:%M%p on %m/%d/%Y") %>
    </span>
  </div>
</li>

