/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require normalize
 *= require_self
 */
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Raleway", Helvetica;
  background-color: #f1f1f1;
  /*background: url(https://unsplash.imgix.net/45/eDLHCtzRR0yfFtU0BQar_sylwiabartyzel_themap.jpg?q=75&fm=jpg&auto=format&s=98e65d0d3f8fcc55b075259021149508) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

h3 {
  font-family: "Lobster";
  font-weight: lighter;
}

.title {
  text-align: center;
  /* position: fixed; */
  /* top: 20%; */
  /* left: 20%; */
  color: #fff;
}

.title h3 {
  font-size: 60px;
}

.title p {
  font-size: 25px;
}

/*-----------nav------------------*/

.shim {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(220, 220, 200, .4);
}

nav {
/*  padding: 5px;
*/  text-align: right;
  background-color: rgba(0, 0, 0, .75);
  height: 54px;
/*  margin: -16px -8px 0px -8px;
*/}

nav .login-link-wrapper {
  line-height: 54px;
/*  padding-right: 10px;
*/}

.login-link-wrapper span {
  cursor: pointer;
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
}

nav ul li {
  color: #fff;
}

nav span {
  color: #fff;
}

nav a {
  color: #fff;
  padding: 18px 12px;
}

nav a:hover {
  color: #fff;
  background-color: #FF2D3C;
}

a {
  text-decoration: none;
  color: #FF2D3C;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
  padding-top: 10px;
}
/*----------left-----------*/
.left-column {
  width: 30%;
  padding: 10px;
  margin-right: 5px;
  vertical-align: top;
  display: inline-block;
  background: #fff;
  border-radius: 5px;
}

.profile-container {
  /*background: #DBDBDB;*/
}

.post-container {
  margin-bottom: 20px;
  box-shadow: 0 4px 2px -2px rgba(100, 100, 100, 0.4);
}

/*---------right-----------*/
.right-column {
  width: 64%;
  padding: 10px;
  vertical-align: top;
  display: inline-block;
  background: #fff;
  border-radius: 5px;
}

.posts {
  background-color: rgba(100, 100, 100, .12);
  margin-bottom: 10px;
  padding: 10px;
}

.posts p {
  padding: 5px;
  font-size: 14px;
}

.post-user-name {
  font-weight: bold;
}

.comments {
/*  background-color: rgba(200, 200, 200, .12);*/
  padding: 5px;
}

.comments-name {
  font-weight: bold;
  font-size: 14px;
}

.comments-text {
  font-size: 13px;
}

.comment-form {
  padding-bottom: 20px;
}

.time-text {
  font-size: 12px;
}

.posts .time-text {
  width: 100%;
  text-align: right;
}

/*----------------- forms----------------------*/

.sign-up-form, #sign-in-form {
  width: 30%;
  display: none;
  margin: 0 auto;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding-left: 70px;
  background: rgba(220, 160, 160, .2);
}

.sign-up {
  text-align: left;
  color: #fff;
}

.form-control {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-size: 12px;
}

.submit-btn {
  font-size: 16px;
  background: none;
  border: none;
  color: #000;
  width: 100%;
  text-align: right;
}

.comment-form .submit-btn {
  width: 59px;
  border-radius: 2px;
  background-color: #fff;
  color: #000;
}

.comment-form .submit-btn:hover {
  background-color: #000;
  color: #fff;
}

.btn-wrapper {
  width: 100%;
  text-align: right;
}


.post-form {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid lightgrey;
}

.comment-form .form-control {
  height: 20px;
}

.comment-form .submit-btn {
  font-size: 14px;
}

#comment_body {
  width: 90%;
  margin-left: 20px;
}
/*---------------buttons--------------------*/
.delete-btn {
  background-color: #fff;
  color: #000;
  padding: 2px;
  margin-left: 10px;
  border-radius: 3px;
  font-size: 12px;
}

.delete-btn:hover {
  background-color: #000;
  color: #fff;
}

.post-delete {
  font-size: 14px;
  margin-left: 98%;
  margin-top: -5px;
  margin-bottom: 2px;
}
/*----------------profile page-----------------*/

.profile-container {
  font-size: 14px;
}
