/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: "Raleway", Helvetica;
  background: url(https://unsplash.imgix.net/45/eDLHCtzRR0yfFtU0BQar_sylwiabartyzel_themap.jpg?q=75&fm=jpg&auto=format&s=98e65d0d3f8fcc55b075259021149508) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h3 {
  font-family: "Lobster";
  font-weight: lighter;
}

.title {
  text-align: center;
  position: fixed;
  top: 20%;
  left: 20%;
  color: #fff;
}

.title h3 {
  font-size: 60px;
}

.title p {
  font-size: 25px;
}
/*-----------nav------------------*/
nav {
  text-align: right;
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
}

nav ul li {
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}
/*----------left-----------*/
.left-column {
  width: 30%;
  padding: 10px;
  vertical-align: top;
  display: inline-block;
  background: rgba(200, 200, 200, .45);
}

.profile-container {
  /*background: #DBDBDB;*/
}

.post-container {
  padding-bottom: 20px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
/*---------right-----------*/
.right-column {
  width: 65%;
  padding: 10px;
  vertical-align: top;
  display: inline-block;
  background: rgba(200, 200, 200, .45);
  border-radius: 5px;
}

.posts {
  background-color: rgba(100, 100, 100, .12);
  margin-bottom: 10px;
}

.posts p {
  padding: 5px;
}

.comments {
/*  background-color: rgba(200, 200, 200, .12);*/
  padding: 5px;
}


.comment-form {
/*  background-color: rgba(200, 200, 200, .12);*/
}

.post-container {
  margin-bottom: 20px;
}

.time-text {
  font-size: 12px;
}

/*----------------- forms----------------------*/

.text_area{
  width:300px;
  height:100px;
  border-radius: 5px;
  border: none;
}

.form-container {
  width: 100%;
  display: none;
  position: fixed;
}

.sign-up {
  text-align: left;
  color: #fff;
}

.form-control {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.submit-btn {
  font-size: 16px;
  background: none;
  border: none;
  color: #fff;
}

.sign-in-container {
  width: 30%;
  display: none;
}

.post-form {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.comment-form .form-control {
  height: 20px;
}

.comment-form .submit-btn {
  font-size: 14px;
}
/*---------------buttons--------------------*/
.delete-btn {
  background-color: #fff;
  color: #000;
  padding: 4px;
  margin-left: 10px;
  border-radius: 5px;
}

.delete-btn:hover {
  background-color: #000;
  color: #fff;
}

.post-delete {
  font-size: 14px;
  margin-left: 95%;
  margin-top: 0px;
  margin-bottom: 8px;
}
/*----------------profile page-----------------*/
.user-post {
  border-top: 1px solid grey;
}

#img{
  width: 75px;
  height:75px;
}
